.wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
    align-items: center;
}

.card {
    border: black 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-flow: row wrap;
    width: 50%;
}

@media screen and (max-width: 800px) {
    .card {
        max-width: 100%;
        width: unset;
    }
}

.input {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.input input {
    width: 52px;
}

.button {
    width: 100%;
    margin: 20px !important;
}

.sliderwrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 100%;
    margin: 30px 10px 10px;
}
