.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin: 10px;
}

.table {
    display: table;
    flex-flow: column nowrap;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    overflow-y: scroll;
}

.row {
    display: table-row;
    justify-content: space-around;
    margin: 5px;
}


.hdrow {
    font-weight: bold;
    display: table-row;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.buttonrow {
    display: table-row;
    justify-content: space-around;
    margin: 5px;
    border-bottom: 1px solid black;
}

.buttonrow button {
    margin: 0 0 10px 0;
    width: 90%;
}

.cell {
    display: table-cell;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
}

.price {
    font-weight: bold;
    font-size: 16px !important;
}

@media screen and (max-width: 460px) {
    .cell {
        font-size: 12px;
        padding: 2px;
    }
}


.header {
    align-self: start;
    margin: 0 0 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.back {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-self: start;
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #002884 !important;
}

.back svg {
    margin-right: 5px;
}

.bullet {
    display: flex;
    flex-flow: column nowrap;
    margin: 3px 0;
}

.mobile {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.card {
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column nowrap;
    margin-bottom: 15px;
}

.cardinner {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    width: 100%;
    margin-top: 10px;
}

.cardcontent {
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
}

.buttonmobile {
    margin: 0 10px 10px 0 !important;
}

.review {
    margin: 5px;
}
